@font-face {
    font-family: 'WalbaumgrotBook';
    src:url("../../ressources/polices/Roboto-Black.ttf");
    font-weight: 400;
    font-style: normal;
}

body{
	font-family: WalbaumgrotBook, helvetica, arial, sans-serif;
}
.pspi{
	cursor:url(../img/cursor1.png) 4 12, auto;
}
.psurv{
	cursor:url(../img/cursor2.png) 4 12, auto;
}

#balance{
	position : aboslute;
	margin-top : 75%;
	width :120%;
}

#flecheafflux{
	animation: afflue 1s linear;
	animation-iteration-count : infinite;
	transform-origin: -100px 44.8px
}

#flecheafflux2{
	animation: afflue2 1s linear;
	animation-iteration-count : infinite;
	transform-origin: -100px 44.8px
}

@keyframes afflue {
	0% {transform: rotate(-20deg);}
	100% {transform: rotate(40deg);}
}

@keyframes afflue2 {
	0% {transform: rotate(-80deg);}
	100% {transform: rotate(-20deg);}
}

#flechefuite{
	animation: fuit 1s linear;
	animation-iteration-count : infinite;
	transform-origin: -100px 44.8px
}

#flechefuite2{
	animation: fuit2 1s linear;
	animation-iteration-count : infinite;
	transform-origin: -100px 44.8px
}

@keyframes fuit {
	0% {transform: rotate(40deg);}
	100% {transform: rotate(-20deg);}
}

@keyframes fuit2 {
	0% {transform: rotate(-20deg);}
	100% {transform: rotate(-80deg);}
}

.tangue{
	animation: tangue 2s linear;
	/* animation-iteration-count : infinite; */
}

@keyframes tangue {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(-10deg);}
	50% {transform: rotate(0deg);}
	65% {transform: rotate(5deg);}
	100% {transform: rotate(0deg);}
}

#explis{
	font-size : 14px;
	margin-top : 0px;
}
#titreP{
	margin-bottom : 0px;
}
#date{
	text-align : center;
}



.bouts{
	border-style : solid;
	border-width : 3px;
	border-color : #FFFFFF;
	border-radius: 20px;
	padding: 6px 8px;
	background: #f6e9d9;
	color: #333333;
	transition-duration:.2s;
	transition-property: background;
	-moz-transition-duration:.2s;
	-moz-transition-property: background;
	-webkit-transition-duration:.2s;
	-webkit-transition-property: background;
	font-family: WalbaumgrotBook, helvetica, arial, sans-serif;
	font-size : 14px;
}

.bouts:hover{
	background: #be2e0d !important;
	color: #ffffff !important;
	cursor:pointer !important;
}
#bouton_l{
	border-radius : 20px;
	width: 45px;
	height: auto;
	margin : auto;
	padding : 4px 7px;
}
#bouton_0{
	width : 350px;
	height : 200px;
	margin-top : 10%;
	margin-left : -10%;
	position : absolute;
	border-radius: 80px;
	font-size : 20px;
	border-width:20px;
	border-color : #FFFFFF;
	opacity : 0.97;
}

#default{
	position : absolute;
	z-index : 1;
	width : 100%;
	text-align : center;
}

#rules{
	display : none;
	position : absolute;
	font-size : 20px;
	width : 35%;
	margin-left :40%;
	margin-top :10%;
	z-index : 0;
}
